[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "sqldf"]
	path = sqldf
	url = https://github.com/ggrothendieck/sqldf
	shallow = true
	registered = true
[submodule "nls2"]
	path = nls2
	url = https://github.com/ggrothendieck/nls2
	shallow = true
	registered = true
[submodule "gsubfn"]
	path = gsubfn
	url = https://github.com/ggrothendieck/gsubfn
	shallow = true
	registered = true
