[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "gsubfn"]
	path = gsubfn
	url = https://github.com/ggrothendieck/gsubfn
[submodule "nls2"]
	path = nls2
	url = https://github.com/ggrothendieck/nls2
[submodule "sqldf"]
	path = sqldf
	url = https://github.com/ggrothendieck/sqldf
